{% extends 'base.html' %}

{% block title %}
SignUp
{% endblock title %}


{% block main %}

<section>
  <div class="login-wrepper">
    <div class="login-box signup-box">
      <div class="login">
        <form method="post">
          {% csrf_token %}
          <h1 id="text">Signup</h1>
          <input type="email" name="email" class="sinp" placeholder="Enter email..." required>
          <input type="text" name="username" class="sinp" placeholder="Enter username..." required>
          <input type="password" name="password1" class="sinp" placeholder="Enter password.." required>
          <input type="password" name="password2" class="sinp" placeholder="Confirm password.." required>
          {% for field in registration_form %}
          <p>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
          {% if registration_form.non_field_errors %}
          <div style="color: red">
            <p>{{registration_form.non_field_errors}}</p>
          </div>

          {% endif %}

          <button type="submit" id="submit1">SignUp</button>
          <a href="{% url 'account:login' %}">Already have account. Login here.</a>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock main %}